{{ define "main" -}}
<script type="module">
	import PhotoSwipeLightbox from '/js/photoswipe-lightbox.esm.min.js';
	import PhotoSwipeDynamicCaption from '/js/photoswipe-dynamic-caption-plugin.esm.min.js';
	const lightbox = new PhotoSwipeLightbox({
	  gallery: '#bird-gallery',
	  childSelector: '.pswp-gallery__item',
	  escKey: true,
	  arrowKeys: true,
	  initialZoomLevel: 'fit',
	  secondaryZoomLevel: 'fit',
	  maxZoomLevel: 'fit',
	  imageClickAction: 'close',
	  tapAction: 'close',
	  pswpModule: () => import('/js/photoswipe.esm.min.js')
	});

	const captionPlugin = new PhotoSwipeDynamicCaption(lightbox, {
		type: 'below',
		captionContent: '.pswp-caption-content'
	});

	let firstElWithBadge;
	let lastElWithBadge;

	// Gallery is starting to open
	lightbox.on('afterInit', () => {
	  firstElWithBadge = lightbox.pswp.currSlide.data.element;
	  hideBadge(firstElWithBadge);
	});

	// Gallery is starting to close
	lightbox.on('close', () => {
	  lastElWithBadge = lightbox.pswp.currSlide.data.element;
	  if(lastElWithBadge !== firstElWithBadge) {
		showBadge(firstElWithBadge);
		hideBadge(lastElWithBadge);
	  }
	});

	// Gallery is closed
	lightbox.on('destroy', () => {
		showBadge(lastElWithBadge);
	});

	lightbox.init();

	function hideBadge(el) {
	  el.querySelector('.lightbox-badge')
		.classList
		.add('lightbox-badge--hidden');
	};
	function showBadge(el) {
	  el.querySelector('.lightbox-badge')
		.classList
		.remove('lightbox-badge--hidden');
	}
</script>
<link rel="stylesheet" href="/css/photoswipe.css" />
<link rel="stylesheet" href="/css/photoswipe-dynamic-caption-plugin.css" />

<div id="bird-gallery" class="pswp-gallery">
	{{ partial "post/info.html" . }}
  {{ range (.Paginator 20).Pages.ByWeight }}
    <a
      class="pswp-gallery__item"
      href="{{ .Params.image }}"
      data-pswp-width="{{ .Params.width }}"
      data-pswp-height="{{ .Params.height }}"
      data-cropped="true"
      target="_blank"
    >
      <img
        class="lightbox"
        src="{{- delimit (split .Params.image ".") "-thumb." -}}"
        alt="{{ .Params.description }}"
      />
      <div class="lightbox-badge">
        {{- title (delimit (split (index (split .Params.image "/") 0) "-") " ") -}}
      </div>
    </a>
    <span class="pswp-caption-content">{{ .Params.description }}</span>
  {{ end }}
	{{ partial "post/navigation.html" . }}
</div>
{{ partial "pagination.html" . }}
{{- end }}
