{{ define "main" -}}
<div class="posts">
  {{ $pag := .Paginate (where .Site.RegularPages "Type" "articles") }}
  {{ range $pag.Pages }}
    <article class="post">
        {{ partial "post/info.html" . }}
        {{ $spl := split .RawContent "<!-- summary -->" }}
        {{ if eq (len $spl) 3 }}
          {{ index $spl 1 | markdownify }}
        {{ else }}
          {{ .Summary }}
        {{ end }}
        <div class="read-more-link">
            <a href="{{ .RelPermalink }}">Read More…</a>
        </div>
    </article>
    {{- end }}
</div>
{{ partial "pagination.html" . }}
{{- end }}
